*{
    margin: 3px;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

header a{
    text-decoration: none;
    color: rgb(178, 64, 255);
}

header a:visited{
    color: rgb(178, 64, 255);
}

.quiz-start{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-title{
    font-size: 25px;
    margin: 15px;
}

.info{
    width: 75%;
    margin: auto;
}

#m-choice{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: auto;
}

button{
    background-color: rgb(94, 6, 94);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin: 5px;
}

.feedback{
    width: 75%;
    margin: auto;
    color: rgb(173, 173, 173);
    font-size: 25px;
    border-top: 1px solid rgb(173, 173, 173);
    text-decoration: wavy;
}

button:hover{
    cursor: pointer;
    background-color: rgb(194, 78, 240);
}